*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
}
body{
    box-sizing: border-box;
}
 .background-hero{
background-color: #678590; 
}

.background-common{
  background-color: #eff2f1;
}

.hover-product:hover{
  transition: all 0.5s ease-in-out;
  transform: translateY(-15%);

} 
.zindex{
  z-index: -1;
  position: relative;
  left: 220px;
  bottom: 70px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px){
  .zindex{
    z-index: -1;
    position: relative;
    left: 270px;
    bottom: 20px;
  }
}
.background-carousel {
 background-image: url('https://assets-global.website-files.com/5a9ee6416e90d20001b20038/64f59a1709cfeef5f1fe9055_Rectangle%20(33).svg');
 border-radius: 30px;
 }
 .v-carousel__controls{
  background: #D7DFEB!important
}

.button-explore-about{
  background-color: #00BCD4  !important;
}
.swal-wide{
  width:250px !important;
}
